html {
    margin: 0;
    padding: 0;
    width: 100vmax;
    height: 100vmin;
    position: relative;
}

body{
    background-color: #0a2d6d;
    background-image: url("https://www.gamewallpapers.com/wallpapers_slechte_compressie/wallpaper_gwent_the_witcher_card_game_01_1920x1080.jpg");
    /*background-image: url("https://vignette.wikia.nocookie.net/witcher/images/8/8f/GWENT_wallpaper_keyart_photoshoot_1920x1080_EN.jpg/revision/latest?cb=20160613200153");*/
    background-repeat: no-repeat;
    width: 100vmax;
    height: 100vmin;
    background-size: cover;
    position: relative;
}
.row {
    max-width: 100vmax;
    margin:0 auto;
}
section {
    padding-top: 1vmax;
}

/*-------------------0000000000000000000000000000000000000000000000000000000000000000----------------------------*/
header{
    display: block;
    position: relative;

}
#main_title{
    height: 8vmax;
    width: 40.5vmax;
    margin-left: 10vmax;
    background-color: rgba(255,255,255,0.7);
}
#title_frame{
    position: absolute;
    width: 42.5vmax;
    height: 10.5vmax;
    left: 10vmax;
    top: -1vmax;
}
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    transition: border-bottom 0.2s, color 0.2s;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    padding: 5px;
    font-family:'IM Fell English SC';

}

a:hover,
a:active {
    color: #555;
    text-decoration: none;
}
.top {

}

.top a{
    margin:0 2vmax;
    /*right: -20vmax;*/
    position: relative;
    display: inline-block;
}

#logo {
    width: 8vmax;
}
#pop-out{
    position: fixed;
    z-index: 100;
    bottom:0;
    right: -111px;
    width: 34vmax;
}

/*-------------------0000000000000000000000000000000000000000000000000000000000000000----------------------------*/

.status{
    background-color: rgba(241, 110, 206, 0.43);
    width: auto;
    font-size: 100%;
    padding: 5vmax 0.5vmax;
    position: relative;
    margin-left: 5px;
    text-align: center;
    font-family:'IM Fell English SC';
}
.status *{
    margin-bottom: 3vmax;
}
#status_frame{
    position: absolute;
    top: -9%;
    width: 107%;
    height: 123%;
    left: -4%;
}

.game-area{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4.4%;
    margin-left: 5vmax;
    position: relative;
    /*height: 100*/
}
#board{
    position: absolute;
    opacity: 0.6;
}
.game-area img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.row1,
.row2,
.row3{
    display:block;
    position: relative;
}
.card{
    display: inline-block;
}


.card {
    display: inline-block;
    width: 8.5vmax;
    height: 11vmax;
    position: relative;
    margin: 1% 1.5%;
    overflow: hidden;
    left: 4%;
    border-radius: 19%;
    z-index: 1000;
}

.card:hover .back{
    visibility: hidden;
}

